<section id="education" class="section">
  <div class="content">
    <h2 data-i18n="sections.education.title">Education</h2>
    
    <div class="education-item">
      <div class="education-header">
        <h3 data-i18n="sections.education.degree">Bachelor of Science in Software Engineering</h3>
        <div class="education-meta">
          <span class="university" data-i18n="sections.education.university">Alfaisal University</span>
          <span class="duration" data-i18n="sections.education.duration">2015 - 2019</span>
        </div>
      </div>
      
      <div class="relevant-courses">
        <h4 data-i18n="sections.education.relevantCourses.title">Relevant Courses</h4>
        <div class="courses-grid">
          <div class="course-item" data-i18n="sections.education.relevantCourses.courses.0">Data Structures and Algorithms</div>
          <div class="course-item" data-i18n="sections.education.relevantCourses.courses.1">Database Systems</div>
          <div class="course-item" data-i18n="sections.education.relevantCourses.courses.2">Software Project Management</div>
          <div class="course-item" data-i18n="sections.education.relevantCourses.courses.3">Web Development</div>
          <div class="course-item" data-i18n="sections.education.relevantCourses.courses.4">Mobile Application Development</div>
          <div class="course-item" data-i18n="sections.education.relevantCourses.courses.5">Cloud Computing</div>
          <div class="course-item" data-i18n="sections.education.relevantCourses.courses.6">Computer Architecture</div>
          <div class="course-item" data-i18n="sections.education.relevantCourses.courses.7">Computer Networks</div>
          <div class="course-item" data-i18n="sections.education.relevantCourses.courses.8">Cyber Security</div>
          <div class="course-item" data-i18n="sections.education.relevantCourses.courses.9">Internet of Things</div>
        </div>
      </div>
    </div>
  </div>
</section>