<section id="skills" class="section">
  <div class="content">
    <h2 data-i18n="sections.skills.title">Skills</h2>
    <div class="skills-grid">
      <div class="skill-category">
        <h3 data-i18n="sections.skills.categories.frontend">Frontend</h3>
        <ul>
          <li>HTML5, CSS3</li>
          <li>Bootstrap, Tailwind CSS</li>
          <li>JavaScript, TypeScript</li>
          <li>Vue.js, Web Components</li>
          <li>Nativescript, Flutter, Avalonia UI</li>
        </ul>
      </div>
      
      <div class="skill-category">
        <h3 data-i18n="sections.skills.categories.backend">Backend</h3>
        <ul>
          <li>Node.js, Express</li>
          <li>ASP.NET Core, C#</li>
          <li>Python, Flask</li>
          <li>Go, PocketBase</li>
          <li>PostgreSQL and other Relational Databases</li>
        </ul>
      </div>
      
      <div class="skill-category">
        <h3 data-i18n="sections.skills.categories.tools">Tools</h3>
        <ul>
          <li>Git</li>
          <li>Docker</li>
          <li><b>Bundlers:</b> Webpack, Parcel, Vite</li>
          <li><b>Terminal:</b> Linux Bash, PowerShell</li>
          <li><b>Coding Agents:</b> Claude Code, Open Code</li>
          <li><b>Office Suite:</b> Microsoft Office, Only Office, Google Workspace</li>
          <li><b>Presentations:</b> PowerPoint, Google Slides, Gamma, Canva</li>
          <li><b>Text Editors:</b> Visual Studio Code, Zed</li>
        </ul>
      </div>
    </div>
  </div>
</section>